<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @gamer.usuario %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @gamer.saldo %>
</p>

<%= link_to 'Edit', edit_gamer_path(@gamer) %> |
<%= link_to 'Back', gamers_path %>
